<html>
<head>
<title>Register Page</title>
<link rel="stylesheet" href="/static/styles.css">
<script src="https://kit.fontawesome.com/408ed4b889.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="main-layout loginpage">

    <a href="{% url 'index' %}" ><img src="/static/images/logo-login.png" class="logo-register"></img></a>
    {% if message %}
        <div class="alert alert-danger loginpagetext">{{ message }}</div>
        {% endif %}
    <div class="registerarea  rounded">

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username"  class="loginregisterinput rounded" required>
        <input type="email" name="email" placeholder="Email Address"  class="loginregisterinput rounded" required>
        <input type="password" placeholder="Password" name="password"  class="loginregisterinput rounded" required>
        <input type="password" placeholder="Confirm Password" name="confirmation"  class="loginregisterinput rounded" required>
        <input type="date" name="birthday" placeholder="1990-01-01"  class="loginregisterinput rounded">
        <input type="text" placeholder="Location" name="location"  class="loginregisterinput rounded">
        <input type="textarea" placeholder="About me" name="biography"  class="loginregisterinput rounded">
        <input type="text" placeholder="Profile Picture URL" name="profileURL"  class="loginregisterinput rounded">
        <input type="submit" value="Submit" class="loginregisterbutton rounded shadow">
    </form>
    <div class="loginpagetext">Do you have an account? <a href="{% url 'login' %}">go to the Login Page</a>
    </div>
        
    </div>
    
 
</body>
</html>