{% extends "layout.html" %}
{% load static %}
{% block layout %}
<div class="mt-4">
<h1>Search Results</h1>
{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}
{% if words %}
<div class="table-responsive-xl">
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Word</th>
        <th scope="col">Type</th>
        <th scope="col">Pronunciation</th>

        <th scope="col">Meaning</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td scope="col"><a href="{% url 'word_detail' word.id %}">{{ word.word }}</a></td>
            <td scope="col" name="wordtype">{{ word.type }}</td>
            <td scope="col">{{ word.pronunciation }}</td>
            <td scope="col">{{ word.description }}</td>
        </tr>  
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>

</div>


<script>
    typeWordsFinder();
    function typeWordsFinder(){
        var elements = document.getElementsByName("wordtype");
        for (var i = 0; i < elements.length; i++) {
          var content = elements[i].textContent;
         
          switch (content) {
              case '1':
                  elements[i].textContent = 'Noun';
                  break;
              case '2':
                  elements[i].textContent = 'Verb';
                  break;
              case '3':
                  elements[i].textContent = 'Adjectives';
                  break;
              case '4':
                  elements[i].textContent = 'Preverb';
                  break;
              default:
                  break;
          }
      }  
      }

    </script>

{% endblock %}